.App {
  text-align: center;
  background-color: #282c34;
  color: white;
}

* {
  background-color: #282c34;
}

.App-header {
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

button {
  background-color: #282c34;
  color: white;
  padding: 7px 10px;
  width: max-content;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  margin-bottom: 20px;
}

.chance-table {
  width: 100%;
}

.chance-row {
  width: 100%;
}

input {
  color: black;
  background-color: white;
}

input:disabled {
  background-color: lightgrey;
}